{{!-- Organization Request (組織のリクエスト詳細) --}}
<div class="org-request-page">
  <h1>{{t 'organization_request' default='Organization request'}}</h1>
  <p>{{t 'coming_soon' default='This page will be implemented soon.'}}</p>
</div>