{{!-- Organization Requests (組織のリクエスト一覧) --}}
<div class="org-requests-page">
  <h1>{{t 'organization_requests' default='Organization requests'}}</h1>
  <p>{{t 'coming_soon' default='This page will be implemented soon.'}}</p>
</div>