{{!-- Subscriptions (購読一覧) --}}
<div class="subscriptions-page">
  <h1>{{t 'subscriptions' default='Subscriptions'}}</h1>
  <p>{{t 'coming_soon' default='This page will be implemented soon.'}}</p>
</div>